In [1]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import ensemble

In [2]:
data = pd.read_csv('data/bitstampUSD5min_pct.csv')
#data = data.loc[(data['datetime'] >= '2022-01-01')]
#data.set_index('datetime', inplace=True)
print(data.head(10))

              datetime      open      high       low     close       fma  \
0  2016-01-01 04:40:00 -0.003452  0.004203  0.000000  0.003097  0.000474
1  2016-01-01 04:45:00  0.003995  0.000828  0.000644  0.002558  0.000362
2  2016-01-01 04:50:00  0.000828  0.001425  0.000000  0.000253  0.000401
3  2016-01-01 04:55:00  0.000161  0.001034  0.000161 -0.000230  0.000036
4  2016-01-01 05:00:00 -0.000138  0.000000  0.000023 -0.000023  0.000033
5  2016-01-01 05:05:00  0.000575  0.000000  0.000597  0.000230  0.000066
6  2016-01-01 05:10:00 -0.000505  0.000230  0.000000  0.000092  0.000851
7  2016-01-01 05:15:00  0.000023  0.000000  0.000000 -0.000207  0.000381
8  2016-01-01 05:20:00 -0.000046  0.000000  0.000000 -0.000046  0.000010
9  2016-01-01 05:25:00  0.000046  0.000000  0.000000  0.000046 -0.000020

        sma  target  target2
0  0.000210     1.0      1.0
1  0.000365     1.0      0.0
2  0.000297     0.0      0.0
3  0.000264     0.0      1.0
4  0.000384     1.0      1.0
5  0.000277     1.0      0.0
6  0.000276     0.0      0.0
7  0.000351     0.0      1.0
8  0.000359     1.0      1.0
9  0.000352     1.0      1.0

In [3]:
test = data.loc[(data['datetime'] >= '2022-01-01')]
train = data.loc[(data['datetime'] < '2022-01-01')]

In [4]:
test.head()

,datetime,open,high,low,close,fma,sma,target,target2
585621,2022-01-01 00:00:00,-0.000887,0.003382,0.000651,0.001627,-0.000171,0.000017,1.0,0.0
585622,2022-01-01 00:05:00,0.001630,0.004203,0.000050,0.001598,-0.000302,0.000024,0.0,0.0
585623,2022-01-01 00:10:00,0.001189,0.000341,0.001956,-0.001031,-0.000298,0.000071,0.0,1.0
585624,2022-01-01 00:15:00,-0.001040,0.000143,0.002067,-0.000863,-0.000640,0.000022,1.0,0.0
585625,2022-01-01 00:20:00,-0.000636,0.002383,0.000043,0.002500,0.000003,0.000083,0.0,1.0

In [5]:
train.tail()

,datetime,open,high,low,close,fma,sma,target,target2
585616,2021-12-31 23:35:00,0.002088,0.000000,0.001581,-0.001056,-0.000059,0.000367,1.0,0.0
585617,2021-12-31 23:40:00,-0.001696,0.002011,0.000094,0.001525,0.000120,0.000467,0.0,0.0
585618,2021-12-31 23:45:00,0.000956,0.000031,0.001173,-0.001996,-0.000145,0.000351,0.0,0.0
585619,2021-12-31 23:50:00,-0.001429,0.000000,0.002420,-0.002903,-0.000672,0.000173,0.0,1.0
585620,2021-12-31 23:55:00,-0.002091,0.000206,0.002832,-0.000896,-0.000621,0.000096,1.0,1.0

In [6]:
y_train = train['target']
X_train = train.loc[:,['open', 'high', 'low', 'close', 'fma', 'sma']]

y_test = test['target']
X_test = test.loc[:,['open', 'high', 'low', 'close', 'fma', 'sma']]

In [7]:
print(X_test.shape)
print(y_test.shape)
print('%% of Class0 : %f y_test' % (np.count_nonzero(y_test == 0)/float(len(y_test))))
print('%% of Class1 : %f y_test' % (np.count_nonzero(y_test == 1)/float(len(y_test))))

(60835, 6)
(60835,)
% of Class0 : 0.501866 y_test
% of Class1 : 0.498134 y_test

In [8]:
print(X_train.shape)
print(y_train.shape)
print('%% of Class0 : %f y_train' % (np.count_nonzero(y_train == 0)/float(len(y_train))))
print('%% of Class1 : %f y_train' % (np.count_nonzero(y_train == 1)/float(len(y_train))))

(585621, 6)
(585621,)
% of Class0 : 0.482143 y_train
% of Class1 : 0.517857 y_train

In [9]:
clf = ensemble.GradientBoostingClassifier(n_estimators=50, learning_rate=0.5, verbose=3)

clf.fit(X_train, y_train)

      Iter       Train Loss   Remaining Time
         1           1.3781           58.23s
         2           1.3757           56.60s
         3           1.3740           54.97s
         4           1.3732           53.69s
         5           1.3726           52.36s
         6           1.3722           51.14s
         7           1.3717           49.93s
         8           1.3714           48.66s
         9           1.3712           47.46s
        10           1.3709           46.31s
        11           1.3708           45.20s
        12           1.3706           44.04s
        13           1.3704           42.86s
        14           1.3703           41.73s
        15           1.3703           40.58s
        16           1.3701           39.41s
        17           1.3699           38.22s
        18           1.3699           37.06s
        19           1.3697           35.89s
        20           1.3697           34.74s
        21           1.3696           33.58s
        22           1.3693           32.40s
        23           1.3691           31.25s
        24           1.3691           30.09s
        25           1.3689           28.94s
        26           1.3689           27.77s
        27           1.3688           26.62s
        28           1.3688           25.47s
        29           1.3687           24.36s
        30           1.3687           23.20s
        31           1.3686           22.03s
        32           1.3686           20.87s
        33           1.3685           19.71s
        34           1.3684           18.56s
        35           1.3683           17.40s
        36           1.3683           16.24s
        37           1.3682           15.09s
        38           1.3681           13.93s
        39           1.3681           12.78s
        40           1.3680           11.61s
        41           1.3679           10.45s
        42           1.3679            9.29s
        43           1.3678            8.13s
        44           1.3678            6.97s
        45           1.3677            5.81s
        46           1.3676            4.65s
        47           1.3676            3.49s
        48           1.3675            2.32s
        49           1.3674            1.16s
        50           1.3674            0.00s

GradientBoostingClassifier(learning_rate=0.5, n_estimators=50, verbose=3)

In [10]:
accuracy = clf.score(X_train, y_train)
print('Testing Accuracy: %f' % accuracy)

Testing Accuracy: 0.553857

In [11]:
pred = clf.predict(X_test)

In [12]:
df_trade = pd.DataFrame(X_test)
df_trade['label']  = y_test
df_trade['pred']   = pred
df_trade['won']    = df_trade['label'] == df_trade['pred']

In [13]:
df_trade.head(5)

,open,high,low,close,fma,sma,label,pred,won
585621,-0.000887,0.003382,0.000651,0.001627,-0.000171,0.000017,1.0,1.0,True
585622,0.001630,0.004203,0.000050,0.001598,-0.000302,0.000024,0.0,1.0,False
585623,0.001189,0.000341,0.001956,-0.001031,-0.000298,0.000071,0.0,1.0,False
585624,-0.001040,0.000143,0.002067,-0.000863,-0.000640,0.000022,1.0,1.0,True
585625,-0.000636,0.002383,0.000043,0.002500,0.000003,0.000083,0.0,0.0,True

In [14]:
print(df_trade[df_trade['won'] == False]['won'].count())
print(df_trade[df_trade['won'] == True]['won'].count())

29021
31814

In [15]:
df_trade[df_trade['won'] == True]['won'].count()/df_trade['won'].count()

0.5229555354647818